body {
background-color: rgb(71, 71, 71);
font-family: 'Roboto Condensed', sans-serif;
}

table {
    background-color: white;
}

header {
    opacity: 0;
    animation: ani 2.5s forwards;
  }

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
